.button{
    margin-block: 2rem;
    background-color: transparent;
    border: 1px dotted #050005;
    padding: .5rem 1rem;
    color: #677bec;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: all .4s ease-in-out;
    
}
.button:hover{
    background-color: #f1f1f1;
    color: #231e39;
    

}
